In [ ]:
## Prepare the file that i´m going rto upload to Azure

In [ ]:
#Data cleanning

In [2]:
import pandas as pd

In [3]:
ventas_videojuegos = pd.read_excel('C:/Users/ASUS/Desktop/Visualization/Proyecto_1/Ventas+Videojuegos.xlsx')

In [4]:
#Normalizing
ventas_videojuegos.columns=ventas_videojuegos.columns.str.lower().str.replace(' ', '_')

In [6]:
ventas_videojuegos.head()

,nombre,plataforma,año,genero,editorial,ventas_na,ventas_eu,ventas_jp,ventas_otros,ventas_global
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [15]:
ventas_videojuegos['año'].dtype

dtype('int64')

In [16]:
#Is better to use this column as an 'Object'
ventas_videojuegos['año'] = ventas_videojuegos['año'].astype('object')

In [17]:
ventas_videojuegos['año'].dtype

dtype('O')

In [18]:
ventas_videojuegos['ventas_jp'].dtype

dtype('float64')

In [19]:
# Saving the Cleanned File
ventas_videojuegos.to_csv('C:/Users/ASUS/Desktop/Hector/SQL_to_Azure/Files_to_Azure/ventas_videojuegos.csv')

In [ ]:
##Connecting to DataBase from Azure

In [3]:
#Importing libraries
import pypyodbc
import getpass

server = 'secoundserver.database.windows.net'
database = 'third_database'
username = 'hmrmbll'
password = getpass.getpass("Ingresa tu contraseña: ")
connection_string = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

Ingresa tu contraseña: ········

In [4]:
#Creating a cursor
connection = pypyodbc.connect(connection_string)
cursor = connection.cursor()

In [6]:
#Making a consult
sql = '''
Select * from SalesLT.Customer
'''

In [17]:
#Execute the consult
cursor.execute(sql)
data = cursor.fetchall()

In [18]:
#Converting it to a DataFrame
columns = [column[0] for column in cursor.description]
df = pd.DataFrame(data, columns=columns)

In [27]:
#Visualizing the DataFrame
df.head()

,customerid,namestyle,title,firstname,middlename,lastname,suffix,companyname,salesperson,emailaddress,phone,passwordhash,passwordsalt,rowguid,modifieddate
0,1,False,Mr.,Orlando,N.,Gee,None,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,b'3F5AE95E-B87D-4AED-95B4-C3797AFCB74F',2005-08-01
1,2,False,Mr.,Keith,None,Harris,None,Progressive Sports,adventure-works\david8,keith0@adventure-works.com,170-555-0127,YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=,fs1ZGhY=,b'E552F657-A9AF-4A7D-A645-C429D6E02491',2006-08-01
2,3,False,Ms.,Donna,F.,Carreras,None,Advanced Bike Components,adventure-works\jillian0,donna0@adventure-works.com,279-555-0130,LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=,YTNH5Rw=,b'130774B1-DB21-4EF3-98C8-C104BCD6ED6D',2005-09-01
3,4,False,Ms.,Janet,M.,Gates,None,Modular Cycle Systems,adventure-works\jillian0,janet1@adventure-works.com,710-555-0173,ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=,nm7D5e4=,b'FF862851-1DAA-4044-BE7C-3E85583C054D',2006-07-01
4,5,False,Mr.,Lucy,None,Harrington,None,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,828-555-0186,KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=,cNFKU4w=,b'83905BDC-6F5E-4F71-B162-C98DA069F38A',2006-09-01

In [ ]:
## DIRECTORY/FILES TO AZURE STORAGE

In [8]:
#Importing the necessary libraries
import os
from azure.storage.blob import BlobServiceClient
from azure.core.exceptions import ResourceExistsError

In [9]:
#Creating the connection with the Storage
storage_connection_string = 'DefaultEndpointsProtocol=https;AccountName=saving;AccountKey=OIBfKnx/nOgx56KDN81Z2tEjXLH3d4ADYR5pMLHkIZ74f/3b3F9gUHo1CCxh0QpW+SoEJ8qgj4vO+AStJO55wQ==;EndpointSuffix=core.windows.net'
blob_service_client = BlobServiceClient.from_connection_string(storage_connection_string)
container_id = 'save'
blob_service_client.get_container_client(container_id)

In [10]:
#Creating the path
overwrite = False
target_directory = os.path.join(os.getcwd(), 'Files_to_Azure')

In [11]:
#Checking the path
target_directory

'C:\\Users\\ASUS\\Desktop\\Hector\\SQL_to_Azure\\Files_to_Azure'

In [26]:
# Uploading Directory to Azure storage
for folder in os.walk(target_directory):
    for file in folder[-1]:
        try:
            blob_path = os.path.join(folder[0].replace(os.getcwd()+'\\', ''), file)
            blob_obj = blob_service_client.get_blob_client(container=container_id, blob=blob_path)
            
            with open(os.path.join(folder[0], file), mode='rb') as file_data:
                blob_obj.upload_blob(file_data, overwrite=overwrite)
        except ResourceExistsError:
            print('Blob"{0}"already exists'.format(blob_path))
            print()
            continue