In [1]:
##Connecting to DataBase from Azure

In [11]:
#Importing libraries
import pypyodbc
import getpass
import pandas as pd

server = 'secoundserver.database.windows.net'
database = 'projects'
username = 'hmrmbll'
password = getpass.getpass("Ingresa tu contraseña: ")
connection_string = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}'

Ingresa tu contraseña: ········

In [6]:
#Creating a cursor
connection = pypyodbc.connect(connection_string)
cursor = connection.cursor()

In [7]:
#Making a consult
sql = '''
Select * from clean_data
'''

In [8]:
#Execute the consult
cursor.execute(sql)
data = cursor.fetchall()

In [12]:
#Converting it to a DataFrame
columns = [column[0] for column in cursor.description]
df = pd.DataFrame(data, columns=columns)

In [13]:
#Visualizing the DataFrame
df.head()

,offer_accepted,reward,mailer_type,income_level,#_bank_accounts_open,overdraft_protection,credit_rating,#_credit_cards_held,#_homes_owned,household_size,own_your_home,average_balance
0,No,Air Miles,Letter,High,1,No,High,2,1,4,No,7.057683
1,No,Air Miles,Letter,Medium,more than 1,No,High,1,1,4,No,7.106606
2,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,7.100027
3,No,Air Miles,Letter,Medium,1,No,High,more than 2,1,4,No,7.017282
4,No,Air Miles,Postcard,Medium,1,No,Low,2,1,4,Yes,6.913737